ion-content{
  height: 100%;
}
ion-tab-bar {
  border: none;
  bottom: 12px;
  left: 50%;
  padding: 5px 0;
  position: absolute;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
  
ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
  
  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    height: 3px;
    width: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  &.tab-selected{
    color: var(--ion-color-primary);
  }
  &.tab-selected::before {
    color: var(--ion-color-primary);
    background-color: var(--ion-color-primary);
  }
}
ion-icon{
  font-size: 24px;
}