<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>UEFA Squad List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-margin-start">Schedules</h1>
  <ion-item>
    <ion-select [(ngModel)]="selectedLeague" (ionChange)="onScheduleChange()" [value]="defaultLeague">
      <ion-select-option *ngFor="let league of leagues" [value]="league.strLeague">
        {{ league.strLeague }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-grid *ngIf="schedules;else empty">
    <ion-row>
      <ion-col size="12" *ngFor="let schedule of schedules">
        <ion-card class="schedule ion-padding ion-text-center ion-no-margin">
          <ion-row>
            <ion-col>
              <small>Home</small>
              <ion-card-title>
                <h6>{{ schedule.strHomeTeam }}</h6>
              </ion-card-title>
            </ion-col>
            <ion-col>
              <h1>VS</h1>
            </ion-col>
            <ion-col>
              <small>Away</small>
              <ion-card-title>
                <h6>{{ schedule.strAwayTeam }}</h6>
              </ion-card-title>
            </ion-col>
          </ion-row>
          <p class="ion-no-margin ion-margin-top">{{ formatDate(schedule.dateEvent) }}</p>
          <small class="ion-no-margin">{{ schedule.strTime }}</small>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #empty>
    <h4>Jadwal tidak ditemukan</h4>
  </ng-template>
</ion-content>
